<% content_for :subhead do %>
  <div class='subhead'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <b><%= current_team.name %> Forums</b>
        </div>
        <div class='col-md-6 text-right'>
          <%= link_to "Index",        "/forums"     %> |
          <%= link_to "Create",       "/forums/new" %>
        </div>
      </div>
    </div>
  </div>
<% end %>