<%= render :partial => 'shared_nav' %>

<div class='container'>

  <div class="row">
    <div class="col-md-12">
      <div class='frameBox'>
        <div class='frameLabel'>Display All Topics for a Single Forum</div>
        <div class='frameLabel'><a href='/forums/1234/topics'>Display Details for a Single Topic</a></div>
      </div>
    </div>
  </div>

</div>