<span class='visible-md-and-above'>
  <%= link_to "#{current_team.name} Paging", paging_path %>
</span>
<span class='visible-sm-and-below'>
  <%= link_to "#{current_team.acronym} Paging", paging_path %>
</span>