<div class="container">

  <p></p>

  THIS PAGE UNDER CONTRUCTION...

  <p></p>

  Your RSVP response was set to <%= @response.upcase %>

  <p></p>

  Params: <%= @params.slice("outbound_id", "response") %>

  <p></p>

  You set the RSVP response to '<%= @response.capitalize %>'

  <p></p>

  <table>
    <tr>
      <td>Message:</td>
      <td>Test Callout - Tech Rescue Skills Night/OP1</td>
    </tr>
    <tr>
      <td>Sent:</td>
      <td>from A. Leak to A. Leak at 16-08-13 19:17:56</td>
    </tr>
    <tr>
      <td>RSVP:</td>
      <td>Are you available?</td>
    </tr>
  </table>
  <p></p>
  Your current response is YES: I am available
  <p></p>
  Change your response to TBD: I am not available
  <p></p>
  Show details
</div>