<div class='container'>
  <div class="row">
    <div class="col-sm-12">

      <h2>Forgot your Password?</h2>
      <p></p>
      <form method=post action='/password/send_email'>
        Enter your email address:
        <input type=text name=email>
        <input type=submit value="then click this button">
      </form>

    </div>
  </div>
</div>
