<div class='container'>
  <div class="row">
    <div class="col-sm-12">

      <h2>Email Being Sent</h2>
      A 'password reset' email is being sent to you at <%= @address %>.
      <p></p>
      When the email arrives, please open it and follow
      the instructions to reset your password.

    </div>
  </div>
</div>




