<div class='container'>
  <div class="row">
    <div class="col-sm-12">

      <h2>Email Being Sent</h2>
      A 'password reset' email is being sent to <%= @user.full_name %>.
      <p></p>
      When the email arrives, the user must open it and follow
      the instructions to reset the password.

    </div>
  </div>
</div>




