<div class='container'>
  <div class="row">
    <div class="col-sm-12">

      Your password reset token is invalid.
      <p></p>
      Please <%= link_to "click here", '/password/forgot' %> to try again.

    </div>
  </div>
</div>