<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      SYSTEM WIKIS<p></p>
      <% @wiki_repos.each do |repo| %>
        <a href="/sys/wikis/<%= repo.name %>"><%= repo.name.titleize %></a><br/>
      <% end %>
    </div>
  </div>
</div>