# Unit file for ListCall on ubuntu
# This file created by Capistrano <%= Time.now.strftime("%Y-%m-%d %H:%M") %>
# This file installed in /lib/systemd/system. Run:
#   - systemctl enable lica
#   - systemctl {start,stop,restart} lica

[Unit]
Description=ListCall: a Rails web application
After=syslog.target network.target

[Service]
User=deploy
Group=deploy
Type=simple

WorkingDirectory=/home/deploy/a/lica/current
EnvironmentFile=/home/deploy/a/lica/current/.env
ExecStart=/bin/bash -lc 'bin/puma -p $PORT -C config/puma.rb -S $USR_HOME/.LICA_Puma_State'

Restart=always
KillMode=mixed
TimeoutStopSec=5

StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lica

[Install]
WantedBy=multi-user.target
