Destination Email Invalid

<table>
  <% @errors.each do |key, val| %>
    <tr>
      <td><%= key %></td>
      <td>something went wrong (<%= val %>)...</td>
    </tr>
  <% end %>
</table>

The end.

<p></p>
