/- content_for :page_js do
/  = javascript_include_tag 'admin/drive_partners/all_drive_partners'
- content_for :admin_header do
  = admin_header :Lica_Forums, :partners
- content_for :admin_body do
  | UNDER CONSTRUCTION
= render :partial => 'admin/admin_layout'