<table class="table table-condensed table-hover" style="padding-bottom: 0; margin-bottom: 0;">
  <thead>
  <th>Role</th>
  <th>Name</th>
  <th class='transitCell'>Departed</th>
  <th class='transitCell'>Returned</th>
  <th class='signinCell'>SignedIn</th>
  <th class='signinCell'>SignedOut</th>
  <th></th>
  </thead>
  <% @period.participants.by_sort_key.each do |participant| %>
    <%= render 'event_periods/participant_row', participant: participant %>
  <% end %>
</table>