{{team_acronym}} Membership Statistics

<table class="table table-condensed table-bordered">
  <tr><td># Active</td><td>{{active_count}}</td></tr>
  <tr><td># Reserve</td><td>{{reserve_count}}</td></tr>
  <tr><td># Guest</td><td>{{guest_count}}</td></tr>
</table>
