<% content_for :subhead do %>
  <div class='subhead'>
    <div class='container text-primary'>
      <div class='row'>
        <div class='col-xs-6'>
          <b class="visible-sm-and-above"><%= current_team.name %> Members</b>
          <b class="hidden-below-sm"><%= current_team.acronym %> Members</b>
        </div>
        <div class='col-xs-6 text-right'>
          <input type="text" ng-model="searchMem" placeholder="Search...">
        </div>
      </div>
    </div>
  </div>
<% end %>
