<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <b>Inactive Membership</b>
      Your membership rights for this team are <b>inactive</b>.<p></p>
      You will not be able to login or view content with <b>inactive</b> rights.
    </div>
  </div>
</div>