<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <b>Feature Not Available</b><p></p>
      This feature is not available to this team.<p></p>
      Your team type: <%= current_team.typ %><br/>
      Your org type: <%= current_org.typ %>
    </div>
  </div>
</div>