- content_for :page_js do
  = javascript_include_tag 'members/all_index'
  script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/r-2.1.1/datatables.min.js">

  javascript:
    $(document).ready( function() {

      $('#memberTbl').DataTable( {
        paging:   false,
        responsive: true,
        info:     false,
        order: [[ 2, "desc" ]],
        columnDefs: [
          { responsivePriority: 1, targets: 0 },
          { responsivePriority: 2, targets: 3 },
          { responsivePriority: 3, targets: 4}]
      });

      function AddMemberData(table, data) {
		$.each(data, function(index, row) {
          table.row.add(
            $('<tr>'+
              '<td data-sort="'+row.nameDS+'">'+
                '<img class="smAvatar hidden-xs" src="'+row.avatar+'" />'+
                '<a class="memLink" href="'+row.user+'" target="_blank">'+
                '<strong class="name-lbl"> '+row.name+'</strong></a></td>'+
              '<td data-sort="'+row.rankDS+'">'+row.rank+'</td>'+
              '<td data-sort="'+row.roleDS+'">'+row.role+'</td>'+
              '<td class="phoneDat">'+row.phone+'</td>'+
              '<td class="emailDat" data-sort="'+row.emailDS+'">'+
                '<a href="mailto:'+row.email+'">'+row.email+'</a></td>'+
              '</tr>')[0]
			);
		});
      };

      function DisplayMemberData() {
        $.get( "/api/m/members.json", function (data) {
          var table = $('#memberTbl').DataTable();
          table.clear();
          AddMemberData(table, data);
          table.draw();
        });  
      }; 

      $('#handleCheckBox').click( function () {
        var el = $('#handleCheckBox');
        $.cookie('member_reserves', (el.prop('checked') ? 'true' : 'false'), { path: '/' });

        DisplayMemberData();
      });

      // Intitalize table
      DisplayMemberData();
      $('#memberTbl').css('visibility', 'visible');

    });

link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/r-2.1.1/datatables.min.css"

- content_for :subhead do
  .subhead
    .container.text-primary
      .row
        .col-xs-6
          = render :partial => '/subhead_title', :locals => {title: [{label: "Members"}] }
        .col-xs-6.text-right
          = members_reserve_checkbox(current_team)

.container
  .row
    table.display.table-bordered.dt-responsive.nowrap#memberTbl style="visibility: hidden"
      thead
        th Name
        th Rank
        th Role
        th Phone
        th eMail
      tbody
        tr
          td data-sort="A"
          td data-sort="1"
          td data-sort="2"
          td
          td
