css:
  .cRed {
    color: red;
    font-weight: bold;
  }

  .cBlu {
    color: blue;
    font-weight: bold;
  }

  .cPur {
    color: purple;
    font-weight: bold;
  }

  .bGrn {
    background: rgba(84, 214, 19, 0.75);
  }

  .bYel {
    background: rgba(236, 228, 6, 0.87);
  }

  .bOra {
    background: rgba(255, 138, 4, 0.98);
  }

  .bPnk {
    background: rgba(255, 192, 203, 0.69);
  }

  .lbl {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
  }

  .xlink {
    color: blue;
  }

  .xlink:hover {
    background: rgba(211, 211, 211, 0.58);
    cursor: pointer;
  }